.Nav{
    height: 10vh;
    padding: .5rem;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem auto;
    max-width: 570px;
    img{
        width: 10%;
    }
    button{
        background: none;
        border: 2px solid gray;
        padding: 0.4rem 1.2rem;
        transition: .5s ease all;
    }
    button:hover{
        background: rgb(82, 82, 82);
        color: white;
    }
}