@import "./player";
@import "./song";
@import "./library";
@import "./nav";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}
body{
  font-family: "Lato" , sans-serif;
}

.App{
  margin: 0 auto;
  width: 100%;
  
}